# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Virtual environments
mlops-project/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Logs
*.log

# Data files
data/
models/

# Temporary files
*.tmp
*.temp